before-m2/naming-0.8/naming-config/src/conf/naming.dtd

<!ELEMENT naming (context*)>

<!ELEMENT context ((context|environment|resource)*)>
<!ATTLIST context
	name  CDATA #IMPLIED>

<!ELEMENT environment (EMPTY)>
<!ATTLIST environment 
	name  CDATA #REQUIRED
        type  CDATA #REQUIRED
        value CDATA #REQUIRED
>

<!ELEMENT resource (parameter*)>
<!ATTLIST resource
	name  CDATA #REQUIRED
        type  CDATA #REQUIRED
>

<!ELEMENT parameter (name,value)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT value (#PCDATA)>
